@font-face {
  src: url(../fonts/robot.ttf);
  font-family: roboto;
}

@media (min-width: 320px) and (max-width: 767px) {
  h2,h6 {
    font-family: roboto;
  }

  #main-catalogo {
    height: auto;
    background-color: whitesmoke;
    padding: 10px 0;
  }

  #container-img {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .img-container {
    border: 1px solid black;
    margin: 3px 3px;
  }

  .img-container h6 {
    padding-top: 6px;
  }
}
