@media (min-width: 320px) and (max-width: 767px) {
  .gallery h3 {
    padding-top: 24px;
    margin-left: 35px;
    margin-bottom: 8px;
  }

  .gallery h5 {
    margin-left: 35px;
    width: 305px;
  }

  .gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 30px;
  }

  .gallery-container .container-gallery-img{
      margin-bottom: 30px;
      background-color: whitesmoke;
      padding-bottom: 20px;
  }

  .gallery-container .gallery-painting {
    max-width: 100%;
  }

  .gallery-container .container-gallery-img> h5{
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
  }
}
