@font-face {
  src: url(../fonts/robot.ttf);
  font-family: roboto;
}

@media (min-width: 1025px) {
}

@media (min-width: 320px) and (max-width: 767px) {
  h2,
  h3,
  h5 {
    font-family: roboto;
  }

  #logo {
    background-image: url(../images/logo.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 15.625em;
    max-width: 100%;
    margin-bottom: 1.563em;
  }

  #text {
    width: 80%;
  }

  .what-is {
    border-bottom: 0.125em solid whitesmoke;
  }

  .what-is > h3 {
    margin-left: 1.25em;
  }

  .what-is .painting {
    max-width: 100%;
    height: 18.75em;
    max-height: 100%;
  }

  #last-row {
    width: 80%;
    height: 80%;
  }

  #last-row > img {
    border: 0.063em solid aliceblue;
    height: 6.25em;
  }

  #container-bottom {
    margin-top: 3.75em;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  #contact {
    position: absolute;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  #contact > strong {
    padding-left: 1.75em;
    padding-top: 0.625em;
  }

  #contact > h5 {
    font-size: 12pt;
    margin-bottom: 0.126em;
    padding-left: 2.188em;
  }

  #bottom-do-bottom {
    height: 13.75em;
    max-width: 100%;
    margin: 0;
    background-color: whitesmoke;
  }

  #gallery-text {
    color: black;
    font-weight: bold;
  }
}
