@font-face {
  src: url(../fonts/simplifica.ttf);
  font-family: simplifica;
}

@media (min-width: 1281px) {
  li,
  a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
    cursor: pointer;
  }

  .nav-link {
    color: #333;
    z-index: 2;
    font-size: 17pt;
    font-family: simplifica;
    letter-spacing: 0.1em;
    text-decoration: none;
  }

  .icon {
    display: none;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #nav-nav {
    display: grid;
    width: auto;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto;
    gap: 10px;
    margin-top: 25px;
  }

  #nav-nav::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 48px;
    z-index: -1;
    background-color: whitesmoke;
    opacity: 0.7;
  }

  .logo-2 {
    width: 30%;
    height: auto;
  }

  .nav-link {
    color: #333;
    font-size: 18pt;
    font-weight: 400;
    position: relative;
    text-decoration: none;
  }

  .nav-item > .nav-link:hover {
    color: #333;
  }

  .nav-item > .nav-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.01em;
    bottom: 0.625em;
    left: -2px;
    right: 0;
    background-color: #333;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  .nav-item > .nav-link:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .logo-2 {
    display: none;
  }

  .navbar .navbar-nav li > a {
    font-family: simplifica;
  }

  .navbar {
    height: auto;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .icon {
    background-color: whitesmoke;
  }

  .navbar-nav li > a {
    font-size: 17pt;
    letter-spacing: 0.125em;
  }

  .navbar > #nav-nav {
    display: none;
    justify-items: center;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, 50px);
    padding-bottom: 25px;
  }

  .navbar .icon {
    padding: 0.875em 1em;
    text-decoration: none;
    font-size: 1.063em;
    display: block;
    color: black;
  }

  .navbar a.icon {
    display: block;
    left: 0;
    top: 0;
    width: 100%;
  }

  #icon-1 {
    color: #333;
  }

  .active {
    color: #333;
  }

  .navbar a:link .fa {
    color: #333;
  }

  .nav-link {
    color: #333;
    font-size: 18pt;
    font-weight: 400;
    position: relative;
    text-decoration: none;
  }

  .nav-item > .nav-link:hover {
    color: #333;
  }

  .nav-item > .nav-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.01em;
    bottom: 0.625em;
    left: -2px;
    right: 0;
    background-color: #333;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  .nav-item > .nav-link:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

  .icon {
    display: none;
  }
}
