@font-face{
  src: url(fonts/Roboto-Light.ttf);
  font-family: roboto;
}

*{
  font-family: roboto;
}

.navbar {
  padding: 0;
  background-color: whitesmoke;
}

@media (min-width: 320px) and (max-width: 767px) {
  .navbar-nav {
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    z-index: 1;
    background-color: whitesmoke;
  }

  .navbar .navbar-nav .nav-item > .nav-link {
    font-family: monospace;
  }

  #text {
    width: 80%;
  }

  #what-is{
    border-bottom: 2px solid whitesmoke;
  }

  .painting {
    max-width: 100%;
    height: 300px;
    max-height: 100%;
  }

  #last-row{
    width: 80%;
    height: 80%;
  }

  #last-row > img{
    border: 1px solid aliceblue;
  }

  #container-bottom{
    margin-top: 60px;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  #contact{
    position: absolute;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  
  #contact > strong{
    padding-top: 30px;
    padding-left: 41px;
  }

  #contact > h5{
    font-size: 12pt;
    margin-bottom: 2px;
    padding-left: 41px;
  }


  #bottom-do-bottom{
    height: 250px;
    max-width: 100%;
    margin: 0;
    background-color: whitesmoke;
  }
}
